@font-face {
    font-family: title;
    src: url('../font/Road\ Trip.ttf');
}
@font-face {
    font-family: body;
    src: url('../font/atwriter.ttf');
}

body {
    background: aqua;
    font-family: body;
}
h1 {
    font-size: 8em;
}

.header {
    font-family: title;
    height: 200px;
}
.whole h1 {
    margin: 0;
    font-size: 120px;
}
.nowContainer {
    display: none;
}
.laterContainer {
    display: none;
}
.zipcodeForm {
    display: none;
}
@media screen and (max-width: 576px) {
    .header {
        height: 100px;
    }
    h1 {
        font-size: 4.5em;
    }
}
