/* -------typography----------- */

/* safely title */
@font-face {
    font-family: title;
    src: url('../font/Road\ Trip.ttf');
}
/* body font */
@font-face {
    font-family: body;
    src: url('../font/atwriter.ttf');
}
/* body  */

body {
    /* background: aqua; */
    font-family: body;
}
h1 {
    font-size: 8em;
}

/* header */
.mainHeader {
    background-image: url(../images/dove2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 30vh; */
    font-family: title;
    color: #FFFF99;
    text-shadow: -10px 2px 2px #000000;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 76%, 35% 100%, 0 73%, 0 0);
clip-path: polygon(50% 0%, 100% 0, 100% 76%, 35% 100%, 0 73%, 0 0);

}
.whole h1 {
    margin: 0;
    font-size: 120px;
    
}
/* control panel */
.beginningForm {
    /* border: solid gray 3px; */
   

}

/* contents containers */
.nowContainer {
    display: none;
}
.laterContainer {
    display: none;
}
.zipcodeForm {
    display: none;
}

/* resource container */
.resourceContainer {
    -webkit-clip-path: polygon(70% 0, 100% 17%, 100% 100%, 0 100%, 0 14%);
    clip-path: polygon(70% 0, 100% 17%, 100% 100%, 0 100%, 0 14%);
    display: hidden;



}


/* media query */
@media screen and (max-width: 576px) {
    .header {
        height: 100px;
    }
    h1 {
        font-size: 4.5em;
    }
}
